node_modules/
dist/
.angular/
.vs/
.vscode/

client/node_modules/
client/dist/
client/.angular/

API/bin/
API/obj/
API/wwwroot/uploads/
API/wwwroot/Uploads/

server/bin/
server/obj/
server/wwwroot/uploads/

*.user
*.suo
*.log
*.tmp
.env
